/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Variables */

:root {
  --bg-main: #fff; 
  --bg-accent: #ffcf00;
  --bg-info: #fff2bb;
  --bg-error: #ffc0c3;
  --color-main: #333;
  --color-valid: #33881b;
  --color-invalid: #e3000b;
  --font-main: 'Lato';
}

/* General reset */

* {
  box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: initial;
}

/* General styles */

body {
  background-color: var(--bg-main);
  color: var(--color-main);
  font-family: var(--font-main);
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="password"],
input[type="mail"],
input[type="number"] {
  border-radius: 0;
  border: 1px solid var(--color-main);
  font-family: var(--font-main);
  height: 32px;
  padding: 18px 10px;
  width: 100%;
}

input[type="submit"] {
  background-color: transparent;
  border: 2px solid var(--color-main);
  display: inline-block;
  font-family: var(--font-main);
  padding: 8px 12px;
}

input[type="submit"]:hover {
  cursor: pointer;
  text-decoration: underline;
}

.box {
  border: 1px solid rgba(0, 0, 0, .2);
  display: inline-block;
  margin: 16px 0;
  padding: 16px;
}

.box.info {
  background: var(--bg-info);
}

.box.error {
  background: var(--bg-error);
}

strong {
  font-weight: 600;
}

/* Nav styles */

nav {
  background-color: var(--bg-accent);
  display: flex;
  height: 64px;
  padding: 8px 16px;
}

nav img {
  margin-right: 8px;
}

nav a {
  align-self: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -.2px;
  padding: 0 8px;
  text-transform: uppercase;
}

nav a:after {
  content: '';
  background: transparent; 
  display:block;
  height: 1px;
}

nav a:hover {
  text-decoration: none;
}

nav a:hover:after {
  background: var(--color-main); 
}

nav a.account {
  margin-left: auto;
}

nav a img {
  vertical-align: top;
  width: 16px;
}

/* Error styles */

#error {
  margin: 64px 32px;
}

#error h1 {
  margin-bottom: 16px;
}

#error p {
  font-size: 20px;
  margin-bottom: 32px;
}

#error a {
  border: 2px solid var(--color-main);
  display: inline-block;
  padding: 8px 12px;
}

/* Footer styles */

footer {
  border-top: 1px solid rgba(0, 0, 0, .2);
  margin: 64px 32px 0;
  padding: 32px 0;
  text-align: right;
}

footer strong {
  font-weight: 600;
}

.radialProgressBar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  background: #ddd;
  margin: 20px;

}
.radialProgressBar .overlay {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  background: #191A19;
  text-align: center;
  padding-top: 20%;
}

.progress-0 {
  background-image: -webkit-linear-gradient(left, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}

.progress-10 {
  background-image: -webkit-linear-gradient(36deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(54deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}

.progress-20 {
  background-image: -webkit-linear-gradient(72deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(-18deg, #ddd 50%, transparent 50%), linear-gradient(-90deg, #028cd5 50%, #ddd 50%);
}

.progress-25 {
  background-image: -webkit-linear-gradient(72deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(0deg, #ddd 50%, transparent 50%), linear-gradient(-90deg, #028cd5 50%, #ddd 50%);
}

.progress-30 {
  background-image: -webkit-linear-gradient(108deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(18deg, #ddd 50%, transparent 50%), linear-gradient(-90deg, #028cd5 50%, #ddd 50%);
}

.progress-40 {
  background-image: -webkit-linear-gradient(144deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(54deg, #ddd 50%, transparent 50%), linear-gradient(-90deg, #028cd5 50%, #ddd 50%);
}

.progress-50 {
  background-image: -webkit-linear-gradient(right, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(-90deg, #028cd5 50%, #ddd 50%);
}

.progress-60 {
  background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(36deg, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(-90deg, #028cd5 50%, transparent 50%), linear-gradient(-54deg, #028cd5 50%, #ddd 50%);
}

.progress-70 {
  background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(72deg, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(-90deg, #028cd5 50%, transparent 50%), linear-gradient(-18deg, #028cd5 50%, #ddd 50%);
}

.progress-80 {
  background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(108deg, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(-18deg, #028cd5 50%, #ddd 50%);
}

.progress-90 {
  background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(144deg, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(-54deg, #028cd5 50%, #ddd 50%);
}

.progress-100 {
  background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(right, #028cd5 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(-90deg, #028cd5 50%, #ddd 50%);
}
